<h2>New Earning for <%= full_ticker_symbol(@stock) %></h2>

<%= render partial: 'shared/errors', locals: { item: @earning } if @earning.errors.any? %>

<%= form_for([@stock, @earning]) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit 'Add Earning' %> <%= link_to 'Cancel', stock_path(@stock) %>
<% end %>