<h2>Edit Share Price for <%= full_ticker_symbol(@share_price.stock) %></h2>

<%= render partial: 'shared/errors', locals: { item: @share_price } if @share_price.errors.any? %>

<%= form_for([@stock, @share_price]) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit 'Update Share Price' %>
<% end %>