<tr>
  <td><%= price.year.year_number %></td>
  <td><%= dollar_value(price.high_value) %></td>
  <td><%= dollar_value(price.low_value) %></td>
  <td><%= link_to 'Edit', edit_share_price_path(price) %> | <%= link_to 'Delete', share_price_path(price), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>