<h2>Edit Stock</h2>

<%= render partial: 'shared/errors', locals: { item: @stock } if @stock.errors.any? %>

<%= form_for([@stock_exchange, @stock]) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit 'Update Stock' %> <%= link_to 'Cancel', stock_path(@stock) %>
<% end %>