<h2>Add Stock</h2>

<%= render partial: 'shared/errors', locals: { item: @stock } if @stock.errors.any? %>

<%= form_for([@stock_exchange, @stock]) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <%= f.submit 'Create Stock' %> <%= link_to 'Cancel', stock_exchange_path(@stock_exchange) %>
<% end %>