<h2>Generate Report for: <%= @stock.company_name %></h2>

<%= form_with url: stock_report_path(@stock), local: true do |f| %>
  <%= f.label :current_price %>
  <%= f.number_field :current_price %>

  <%= f.label :government_bond_interest_rate %>
  <%= f.number_field :government_bond_interest_rate, value: 3.0 %>

  <%= f.submit 'Generate Report' %>
<% end %>
