<h2>Stock Report for: <%= @stock.company_name %></h2>
<p>Ticker symbol: <%= full_ticker_symbol(@stock) %></p>
<p>Report generated: <%= @report[:generated_at] %></p>

<%= render partial: 'report/report_data_table' %>

<%= render partial: 'report/investment_summary' if @report[:report_summary].present? %>