<h2><%= @stock.company_name %></h2>
<p><%= full_ticker_symbol(@stock) %></p>

<div class="actions">
  <%= link_to 'Edit Stock', edit_stock_path(@stock) %> |
  <%= link_to 'Create Report', stock_new_report_path(@stock) %>
</div>

<%= render partial: 'share_prices' %>

<%= render partial: 'dividends' %>

<%= render partial: 'earnings' %>

<%= render partial: 'shareholders_equities' %>